bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.zip
*.tar.gz
*.vsix
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

project.lock.json
project.fragment.lock.json
**/project.lock.json
**/project.fragment.lock.json
*.log
**/logs/
**/*.log

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.sln.cache
*.slnbin/
*.slnhidden/

.idea/
*.DotSettings.user
*.sln.dotSettings
_ReSharper*
/_ReSharper
/resharper*.solution.dotSettings

.vscode/
.vscode-test/

.vscode/

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/
*.code-workspace

*.tmp
*.bak
*.swp

TestResults/
*.trx
*.coverage
**/TestResults
**/*.TestResults

**/.dotnet_tool

.scaffolding

.terraform
.azure
.pnp